# MacOS DesktopConfig files
.DS_Store
/target/
src/main/java/org/nanopharmacy/listener/Scheduler.java
src/main/webapp/test/test2.html
src/main/java/org/nanopharmacy/listener/Scheduler.java
src/main/java/org/nanopharmacy/listener/Scheduler.java
