
<div class="schemes-title">
    <p>Your searches:</p>
    <p>   <input ng-model="filterPattern" ng-change="searchListFunction(searchList)" type="text" class="form-control" placeholder="Search"></p>
</div>
<ul class="nav _nav-tabs nav-pills nav-justified " id="tabs-search">
    <li class="active "><a data-toggle="tab" href="#diseaseTab">Desease</a></li>
    <li><a data-toggle="tab" href="#geneTab">Gene</a></li>
</ul>
<div class="tab-content" >
    <div id="diseaseTab" class="tab-pane fade in active">
        <div class="panel-group" id="panel-desease">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-desease" href="#panel-element-desease">New desease search: 
                        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                    </a> 
                </div>
                <div id="panel-element-desease" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form name="deseaseForm">
                            <select name="cancerTypeSelected" required ng-model="cancerTypeSelected" ng-change="cancerTypeChange(cancerTypeSelected)" ng-options="cancerType.name for cancerType in cancerTypeList track by cancerType._id">                        
                                <option style="display:none" value="">Desease</option>
                            </select>                    
                            <select name="numYearsSelectedCt" required ng-model="numYearsSelectedCt"><!-- Estado original del select: select name="dateSelected" required ng-model="dateSelected" ng-options="date.text for date in datesList track by date.year" temporalmente -->
                                <option style="display:none" value="">Publication dates</option>
                                <option value="6" label="6 Months">6 Months</option>
                                <option value="12" label="1 Year">1 Year</option>
                                <option value="24" label="2 Years">2 Years</option>
                                <option value="36" label="3 Years" disabled="disabled">3 Years</option>
                                <option value="60" label="5 Years" disabled="disabled">5 Years</option>
                            </select>
                            <select name="geneSelectedCt" _required ng-model="geneSelectedCt" ng-change="geneChangeCt(geneSelectedCt)" ng-options="gene.symbol for gene in geneListCt track by gene._id">
                                <option style="display:none" value="">Gene</option>
                            </select>
                            <select name="altSelectedCt" _required ng-model="altSelectedCt"  ng-options="alt.name for alt in altListCt track by alt._id">
                                <option style="display:none" value="">Molecular Alteration</option>
                            </select>
                            {{datePublication}}
                            <button ng-disabled="deseaseForm.cancerTypeSelected.$invalid || deseaseForm.numYearsSelectedCt.$invalid" type="button" class="btn" hm-tap="addSearchCt(cancerTypeSelected,geneSelectedCt, altSelectedCt, numYearsSelectedCt)">Search</button><!-- sustituir dateSelected por numYearsSelected cuando el select regrese a su estado original-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="geneTab" class="tab-pane fade">
        <div class="panel-group" id="panel-busca">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-busca" href="#panel-element-busca">New gene search: 
                        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                    </a> 
                </div>
                <div id="panel-element-busca" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form name="schemeForm">                  
                            <select name="geneSelected" required ng-model="geneSelected" ng-change="geneChange(geneSelected)" ng-options="gene.symbol for gene in geneList track by gene._id">
                                <!--option selected="true" value="{{gene._id}}"  ng-repeat="gene in geneList">{{gene.symbol}}</option-->
                                <option style="display:none" value="">Gene</option>
                            </select>
                            <select name="altSelected" required ng-model="altSelected"  ng-options="alt.name for alt in altList track by alt._id">
                                <option style="display:none" value="">Molecular Alteration</option>
                            </select>
                            <select name="numYearsSelected" required ng-model="numYearsSelected"><!-- Estado original del select: select name="dateSelected" required ng-model="dateSelected" ng-options="date.text for date in datesList track by date.year" temporalmente -->
                                <option style="display:none" value="">Publication dates</option>
                                <option value="6" label="6 Months">6 Months</option>
                                <option value="12" label="1 Year">1 Year</option>
                                <option value="24" label="2 Years">2 Years</option>
                                <option value="36" label="3 Years" disabled="disabled">3 Years</option>
                                <option value="60" label="5 Years" disabled="disabled">5 Years</option>
                            </select>
                            {{datePublication}}
                            <button ng-disabled="schemeForm.geneSelected.$invalid || schemeForm.altSelected.$invalid || schemeForm.numYearsSelected.$invalid" type="button" class="btn" hm-tap="addSearch(geneSelected, altSelected, numYearsSelected)">Search</button><!-- sustituir dateSelected por numYearsSelected cuando el select regrese a su estado original-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="mis-esquemas">
    <li ng-if="search.noArts != 0" ng-class="{'scheme-selected':search._id === searchId}" ng-repeat="search in searchListFunction(searchList)">
        <a ng-if="search.notification > 0"  href="/search/results/{{search._id}}?status=1" class="alert new" title="{{search.notification}} new items">
            <i class="fa fa-certificate"></i>{{search.notification}}
        </a>
        <a hm-tap="refresh()"  ng-if="search.recommended > 0" href="/search/results/{{search._id}}?status=4&a={{search.recommended}}" class="alert rank" title="{{search.recommended}} recommended items">
            <i class="fa fa-thumbs-up"></i>{{search.recommended}}
        </a>
        <a hm-tap="schemeSelected(search._id)" class="gene" href="/search/{{search._id}}">{{search.geneSymbol}}; {{search.alteName}}; {{showSearchPeriod(search.artYearsOld)}}</a>
    </li>  
</ul>


