<h3>New scheme search:</h3>
<p>Select Gene: 
    <select ng-model="geneSelected" ng-options="gene.symbol for gene in geneList track by gene._id">
        <!--option selected="true" value="{{gene._id}}"  ng-repeat="gene in geneList">{{gene.symbol}}</option-->
        <option style="display:none" value="">Select a gene</option>
    </select>
</p>
<p>Select molecular alteration
    <select ng-model="altSelected" ng-options="alt.name for alt in altList track by alt._id">
        <option style="display:none" value="">Select a alteration</option>
    </select>
</p>
<a ng-click="addSearch(geneSelected,altSelected)">Search</a>