<a  class="btn btn-default" id="menu-toggle"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <button class="btn pull-right" ng-click="deleteScheme()"><span class="glyphicon glyphicon-trash"></span></button>   
            <h3>Search results of the gene: {{gene.symbol}}, molecular alteration:  {{alt.name}} and publication dates for {{search.artYearsOld}} year{{search.artYearsOld>1?"s":""}}</h3>
            <h3>{{gene.symbol}} - {{gene.officialName}}</h3>
           
        </div>       
    </div>    
    <div class="btn-group main-tabs">
        <a href="/search/{{searchId}}" class="btn btn-default active" type="button">Gene Info</a>
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Results<span class="caret"></span>
        </button> 
        <ul class="dropdown-menu">
            <li><a href="/search/results/{{searchId}}?status=4">Recommended</a></li>
            <li><a href="/search/results/{{searchId}}?status=1">New</a></li>
            <li><a href="/search/results/{{searchId}}?status=2">Accepted</a></li>
            <li><a href="/search/results/{{searchId}}?status=3">Rejected</a></li>
            <li><a href="/search/results/{{searchId}}?status=0">Unclassified</a></li>
        </ul>
        <a href="/search/report/{{searchId}}"class="btn btn-default " type="button">Report</a> 
    </div>

    <div class="row contenido">
        <div class="col-lg-12">
            <ul class="gene-info">

                <li><span>Symbol:</span> {{gene.symbol}}</li>
                <li><span>Official Name:</span>  {{gene.officialName}}</li>
                <li><span>Gene Id (MIM):</span> {{gene.mimId}}</li>
                <li><span>Organism:</span>       {{gene.organism}}</li>
                <li><span>Other Aliases:</span>   {{gene.aliases}}</li>
                <li><span>Map Location:</span>  {{gene.mapLocation}}</li>
            </ul>
            <div class="tabbable" id="tabs-geninfo">
                <ul class="nav nav-tabs">
                    <li class="active"> <a href="#panel-summar" data-toggle="tab">Summary</a> </li>
                    <li> <a href="#panel-type" data-toggle="tab">Cancer type</a> </li>
                </ul>
                <div class="tab-content">
                    <div class="text-justify tab-pane active" id="panel-summar">
                        <p> {{gene.summary}}</p>
                    </div>
                    <div class="tab-pane" id="panel-type">
                        <ul  ng-if="(cancerList.length > 0)" class="pagination clearfix">
                            <li><a ng-if="position > 0" ng-click="prev()" href="#"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></li>
                            <li><a href="#">{{position + 1}} / {{cancerList.length}} </a></li>
                            <li><a ng-if="(position < ((cancerList.length) - 1))" ng-click="next()" href="#"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
                        </ul>
                        <div class="clearfix "></div>
                        <p><span>Title:</span> {{cancerList[position].name}}</p>
                        
                        <p><span>Definition:</span></p>
                        <p class="text-justify">{{cancerList[position].summary}} </p>
                    </div>
                </div>
            </div>

        </div>      
    </div> 
</div>