@charset "UTF-8";

#x { height:0px;}
* { outline:0 !important;}
html, body { height: 100%}
body {}

h2      { font-size:20px}
h3      { font-size:18px; font-weight:normal;}
h4      {}
p, ul   { font-size:16px}
li span { font-size:10px}

/* pixels/16=em */

/*PRINT*/
.print *    {color:#333 !important;}
.print .contenido { border:none !important;}
.print img  { margin:10px}
.print h2,
.print h3   { margin:0 }
.print ol   { margin: 0; padding:0px 20px;   }
.print li   { margin-bottom: 10px}
.print .pie { background:none; border-top:2px solid #333;}

/*LOGIN*/
.login { text-align: center; color:#666; font-size: 16px; font-weight:normal;
  background: -webkit-linear-gradient(#c0cfd7 ,#e1eaef); 
  background: -o-linear-gradient(#c0cfd7 ,#e1eaef);
  background: -moz-linear-gradient(#c0cfd7 ,#e1eaef);
  background: linear-gradient(#c0cfd7,#e1eaef);}
.login img          { margin:60px 0 40px}
.login label        { margin:0; padding:7px 0 0; font-weight:normal}
.login .loginlabel  { text-align:right; padding: 0}
.login .logininput  { text-align:left; padding:0  20px 0 3px}
.loginforgot        { margin-top:40px; }
.loginforgot a      { color:#666}     
.login button       { background:#3b6b85; color: #FFF; width: 100%}
.login button:hover { background:#2b5b75; color: #FFF; } 

/*CONFIG LIST*/
.config-list      { margin-top:25px;}
.config-list ul   { margin: 0; padding: 0;}
.config-list li   { list-style-type:none;}
.config-list li   { list-style-type:none;}
.config-list li a { padding:10px; display: inline-block;}
.config-list  p.list-group-item { background:#369; color:#FFF }
.config-list .list-group-item   { padding:5px}
.btn-config        {}
.modal-config .modal-body div  { margin-bottom: 20px }
.modal-config input,
.modal-config textarea      { width: 100%;}
.modal-config textarea      { height:170px }
.config-update label        { display: block; font-weight: normal; margin-bottom:15px}
.config-update input        { margin-right: 10px;}
.config-update div          { text-align: right;}

/*TOP*/
.top  { position:fixed; top:0; z-index:1030; width:100%; padding:25px 10px 5px 10px;  margin:0px auto 1px !important; border-bottom:1px solid #8bbbd5 ;
  background: -webkit-linear-gradient(#fff ,#e1eaef  ); 
  background: -o-linear-gradient(#fff ,#e1eaef  );
  background: -moz-linear-gradient(#fff ,#e1eaef   );
  background: linear-gradient(#fff ,#e1eaef  );}
.top * { text-decoration: none !important;}
.top h1      { display: none;}
.top a   { margin: 0px 0px 0 10px; }
.top .navbar-brand { padding: 0;}
.top-config { float:right; font-size:14px; color:#FFF;  text-align:center; border-radius:4px; background:#6b9baf; border:none; } 
.top-config:hover {background:#3b6b85; color: #fff;}
.top .dropdown-menu { right:0; left: auto;}
.top .btn-group {float:right; }
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {border-radius:4px !important;}
.btn-default.active,
    .btn-default.focus,
    .btn-default:active,
    .btn-default:focus,
    .btn-default:hover,
    .open > .dropdown-toggle.btn-default { background:#3b6b85; color: #FFF;}

.top .dropdown-menu { box-shadow:none; background:#6b9baf; padding: 0; border-radius:6px; border:none;}
.top .dropdown-menu li a {color: #FFF; margin:0;}
.top .dropdown-menu > li > a:focus,
.top .dropdown-menu > li > a:hover  { background-color:#5b8ba5; border-radius:6px}
.top .dropdown-menu > li > a:active {background-color:#345060; border-radius:6px}
/*NAV*/
nav { position: relative; top:70px; z-index: 10}

/*SIDE BAR*/
#wrapper {
    padding-left: 300px; padding-top:80px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;}
#wrapper.toggled { padding-left:0px }
#sidebar-wrapper { z-index:1000; position:fixed; left:300px; width:300px; height:100%; margin-left:-300px; overflow-y:auto; background:#8bbbd5;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;}
#wrapper.toggled #sidebar-wrapper { width:0px;  }
#page-content-wrapper { position:absolute; padding:15px; width:100%;padding-right:310px;}
.toggled #page-content-wrapper { padding-right:5px; }
#wrapper.toggled #page-content-wrapper { position: absolute; margin-right:-300px;}
/*toggled > */
.glyphicon-menu-right           { display: none;} 
.toggled .glyphicon-menu-right  { display: inline-block}
.glyphicon-menu-left            { display: inline-block}
.toggled .glyphicon-menu-left   { display: none}
/* Sidebar Styles */
.sidebar-nav {position:absolute; top:0; width:300px; margin:0; padding:0; list-style:none;}
.sidebar-nav li { text-indent:20px; line-height:40px;}
.sidebar-nav li a { display:block; text-decoration:none; color: #999999;}
.sidebar-nav li a:hover { text-decoration:none; color:#fff; background:rgba(255,255,255,0.2);}
.sidebar-nav li a:active,
.sidebar-nav li a:focus { text-decoration: none;}
.sidebar-nav > .sidebar-brand { height:65px; font-size:18px; line-height:60px;}
.sidebar-nav > .sidebar-brand a {color: #999}
.sidebar-nav > .sidebar-brand a:hover { color:#fff; background:none;}

/*ALERT*/
.alert      {  color:#FFF !important; border-radius:5px; width:30px; height:20px; margin:0 5px 0 0; text-align:center; font-weight:bold; padding:1px 0 0; float:right; font-size:12px}
.alert.new         { background:#0d71b0 }
.alert.new:hover   {  box-shadow:0px 0px 4px #fff }
.alert.new:active  { background:#325469}

.alert.rank        { background:#0d93b0  }
.alert.rank:hover  { box-shadow:0px 0px 4px #fff }
.alert.rank:active { background:#086377 }

.alert.nada {}
.fa-certificate,
.fa-thumbs-up     { font-size:13px !important; margin-right:2px;}


/*MIS ESQUEMAS*/
#sidebar-wrapper p:first-child { color:#FFF; background:#3b6b85; font-size:16px; padding:8px 10px; margin-bottom: 0;}
#menu-toggle { position:relative; padding:9px 15px; background:#3b6b85; color:#FFF; border-radius:0; border:none; top:-14px; left:-16px}

.mis-esquemas { margin:0px; padding:0px; list-style-type:none;}
.mis-esquemas a { color:#FFF; text-decoration:none; text-shadow:1px 1px 0px #4b7b95  }
.mis-esquemas a:hover  { color: #345060; text-shadow:none ;}
.mis-esquemas a:active { color: #fff ;}
.mis-esquemas li { margin:0; padding:0; border-bottom:solid 1px #7babc5;padding:10px 0;}
.mis-esquemas li, #panel-busca .panel-body button,
#panel-busca .panel-heading a {backgroundxx:#6b9bb5; color:#FFF; font-size:14px;  }
.mis-esquemas li:hover, #panel-busca .panel-body button:hover,
#panel-busca .panel-heading:hover {background:#5b8ba5;}
.mis-esquemas .gene { padding:10px }

/*BUSCA*/
#panel-busca                    { margin:0 ; border-bottom:solid 1px #7babc5; bcorder-top:solid 1px #90c0da; background:#7babc5 }
#panel-busca .panel             { box-shadow:0px; background:none;}
#panel-busca .panel-default     { border:none; box-shadow:none;}
#panel-busca .panel-heading     { margin:0px; padding:0px; border:0px; background:none; }
#panel-busca .panel-heading a   { text-decoration:none; display:block; padding:10px 5px 10px 10px;}
#panel-busca .panel-title.collapsed {border-radius:5px}

#panel-busca .panel-body        { border:none; box-shadow:0px; background:#7babc5; padding:5px 10px 5px 10px;}
#panel-busca .panel-body select { background:#f2f7f9  ; color:#3b6b85; border:1px solid #5b8ba5; border-radius:3px; margin:7px 0 12px; padding:3px; display:block; width:100%}
#panel-busca .panel-body button { letter-spacing:1px; background:#5b8ba5; padding:5px 20px 5px 20px;}

/*SHOW HIDE editar html con Collapse*/
#panel-busca .panel-title .glyphicon-menu-up,
#panel-busca .panel-title .glyphicon-menu-down { float:right; margin:2px 7px }
#panel-results .panel-title .glyphicon-menu-up,
#panel-results .panel-title .glyphicon-menu-down { float:right; margin:2px 7px }

.panel-title.collapsed .glyphicon-menu-down   { display:inline-block;}
.panel-title .glyphicon-menu-down	           { display:none;}
.panel-title.collapsed .glyphicon-menu-up     { display:none;}
.panel-title .glyphicon-menu-up               { display:inline-block;}

/*CONTENT*/
#page-content-wrapper       { color:#666;}
#page-content-wrapper h2,
#page-content-wrapper h3    { margin:0px;  }
#page-content-wrapper h3    { border-bottomx:dotted 1px #3b6b85; padding-bottom:5px;}

/*NAV NANOPHARMA*/
.nav-nanopharma { top:0; margin:20px 0 0; background:none; border:0;  border-radius:0; min-height:auto; }
.nav-nanopharma .navbar-nav { margin:0}
.nav-nanopharma li a        { border-radius:4px 4px 0 0; margin-right:5px; background:#fff ; border:solid 1px #999 ; border-bottom:0px; padding:7px 10px; font-size:14px; font-weight:normal; position: relative; top:1px; color:#999 !important; }
.nav-nanopharma .active a   { color:#337ab7 !important; background:#FFF !important; border:solid 1px #337ab7; border-bottom:1px solid #FFF; font-weight:bold;}
.nav-nanopharma li li a  { background:none; border:none;}
.nav-nanopharma .dropdown.open .dropdown-toggle  { border:solid 1px #337ab7; background:#337ab7 !important; color:#FFF !important; }
.nav-nanopharma .dropdown-menu,
.dropdown.open a { border:solid 1px #337ab7}
.nav-nanopharma .dropdown-menu a  { border:0px !important;}
.nav-nanopharma .navbar-nav > li > .dropdown-menu  { box-shadow:none; background:#337ab7; }
.nav-nanopharma .dropdown-menu > li > a {color:#FFF !important; background:none !important;}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover { background-color:#337ab7; color:#FFF !important; border-color:#337ab7;}

.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li.active > a:hover { border-bottom:#FFF solid 1px; color:#337ab7 !important}

.navbar-default .navbar-nav > li.active.dropdown.open > a:focus,
.navbar-default .navbar-nav > li.active.dropdown.open > a:hover { color:#FFF !important}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover { background-color:#f8f8f8 !important; border-color:#e6e6e6; top:1px}
.dropdown-menu { border-color:#e6e6e6; background-color:#f8f8f8}

/*.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover { background-color:#2f6da3 ; margin:0; border-radius:0 !important; }*/

.nav-tabs { padding:0 20px; border-color:#337ab7 }
.nav > li > a { padding:7px 10px; color: #777;}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {border-top-color:#337ab7; border-left-color:#337ab7; border-right-color:#337ab7; color:#337ab7}
.nav-tabs > li > a,
.nav-tabs > li > a:focus {border-top-color:#999; border-left-color:#999; border-right-color:#999; color:#999; margin-right:5px}
.nav-tabs > li > a:hover { background-color:#2f6da3; color:#FFF; border-color:#2f6da3}
/*sort*/
.sort   { text-align: right;}
.sort * { font-size:14px !important; }

/*CONTENIDO*/
.contenido { border-top:1px solid #337ab7; padding-top:20px;  }
.contenido * { font-size:15px}
.gene-info { list-style-type: none; line-height:30px; padding-left:20px; margin-bottom:25px }
.gene-info li span { display: inline-block; width:120px; font-weight:bold;}
#panel-summar, #panel-type  { padding:20px}
#panel-type .pagination     { margin:0;  position:relative; top:-20px; float:right }
#panel-type .pagination a   { font-size:14px !important; border:none;}
#panel-type .pagination a:hover { background:none;}
#panel-type .clearfix { height:10px; background:none;}
.contenido .panel-body { padding: 0;}
.contenido .panel-body p { padding:10px 10px 0 10px}
.contenido .panel-body p.reference { border-top:solid 1px #CCC}
/*PIE*/
.pie {position:fixed; bottom:0px; width:100%; border-top:solid 2px #FFF; text-align:center; padding:5px 0px 0px; z-index:1030;    
  background: -webkit-linear-gradient(#2b5b75 ,#3b6b85); 
  background: -o-linear-gradient(#2b5b75 ,#3b6b85);
  background: -moz-linear-gradient(#2b5b75 ,#3b6b85);
  background: linear-gradient(#2b5b75 ,#3b6b85);}
.pie * { color:#FFF; text-decoration:none; font-size:1em; font-weight:lighter; letter-spacing:1px}
.pie a { margin-left:10px;}
.pie img { margin:5px auto}

/*RESULTS*/
#panel-results .panel.panel-default { margin-bottom:20px}
#panel-results *              { color: #666}
#panel-results ol             { margin:0; padding:0 0 0 25px;}
#panel-results .panel         { }
#panel-results .panel-heading { padding:0px; line-height:15px; background:#b9d8e9   }
#panel-results .panel-title   { font-size:14px; text-decoration:none !important; padding:7px 6px 7px 0px; display:block}
#panel-results i              { float: right; font-size:16px !important;}
#panel-results .panel-pie     { background:#999;  }
#panel-results .panel-pie *   { color:#fff !important;}
.panel-pie-more               { float: left; padding:6px; margin-left:20px}
.panel-pie-ok,                 
.panel-pie-remove             { float: right; padding:6px; margin-right:20px }
.panel-rel                    { padding:0 10px; margin:0 0 10px 0; border:none;  }
.panel-rel p                  { margin:10px 0 0 0; padding: 0 !important; font-size:12px}
.panel-rel .rel01            { border-radius:3px 0 0 3px;}
.panel-rel .rel05            { border-radius:0px 3px 3px 0;}
.panel-rel div                { height: 13px; width:19.80%; float:left; margin-left:1px; background:#ccc;}
.panel-rel .full              { background:green}
.result-notes                  { width: 100%; min-height: 200px; margin-bottom: 20px; padding:5px}
.panel-buttons { text-align: right;}
/*ESPECIFICOS*/

/*Escritorio grande*/
@media (min-width: 1200px){ #x {background-color:red !important;}
    .top-config {padding:10px 13px;}
	
}

/* Escritorio pequeño o tablet */
@media (min-width:992px) and (max-width:1199px){ #x {background-color:green !important;}
	.top-config {padding:10px 13px; width:107px}
}

/* Tablet o smartphone */
@media (min-width:768px) and (max-width:991px){ #x {background-color:blue !important;}
    .top-config {padding:10px 13px; width:107px}

}

/* Smartphone */
@media (max-width:767px){ #x {background-color:yellow !important;}
	
    /*sidebar*/
    #wrapper { padding-left:300px;}
    #wrapper.toggled {padding-left: 0;}
    #sidebar-wrapper {width:250px;}
    #wrapper.toggled #sidebar-wrapper {width:0px;}
    #page-content-wrapper { padding:20px; position: relative;}
	#wrapper.toggled #page-content-wrapper {position: relative;margin-right: 0; }
    #menu-toggle { top:-19px; left:-20px}
    .toggled #page-content-wrapper { padding-left:0; padding-right:5px;}
    .toggled #menu-toggle {left:-10px;}
    /*sidebar*/
    .navbar-nav > li {float: left;}
    .nav-nanopharma .sort { float: left;}
    .top-config         { font-size:23px; color:#666 ; background:none; margin-left:10px !important; padding:0 0 0 5px}
    .top-config:hover   { background: none; color: #3b6b85;}
    .top-config .caret { position: relative; left:-6px; top:-5px; font-size:140px !important}
    .config { display: none;}
    .panel-rel div                { width:19.5%;}
    .result-notes                  { min-height:50px}
    .btn-default.active,
    .btn-default.focus,
    .btn-default:active,
    .btn-default:focus,
    .open > .dropdown-toggle.btn-default { background: #6b9baf; color: #FFF;}
      
}
	


