.ng-animate.ng-enter,.ng-animate.ng-leave { 
    -webkit-transition: none!important;
    -moz-transition:none!important;
    -ms-transition: none!important;
    -o-transition: none!important;
    transition: none!important;
}

ul[rn-carousel] {
    width: 400px;
    height: 300px;
}

.bgimage {
    text-align: right;
    color: white;
    background-size: cover;
    height: 100%;
    background-position: center center;
}

.rn-carousel-controls{
    width: 400px;
    position: relative;
}

.config-gene div.list-group-item{
    height: 400px;
    overflow-y: scroll;
}

.config-list li a{
    width: 100%;
    text-decoration: none;
    cursor:pointer;
}
.config-list li a:hover span{
  color: white;
}
.config-list li a span{
    color:#3b6b85;
    margin: 5px;
    display: inline-block;
}

.contenido input[type=text] {
    width: 100%;
    margin-bottom: 16px;
}

.menu-toggle-off{
     webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    left:0px!important;
}

.menu-toggle-off-fixed{
    webkit-transition: none!important;
    -moz-transition: none!important;
    -o-transition: all 0s ease!important;
    transition: none!important;
}
.query-check{
 height: 0px;
 width: 1px;
}
#message-box{
    position: fixed;
    bottom: 66px;
    right: 0;
    left: 0;
    z-index: 2000;
}

.animate-repeat.ng-enter,
.animate-repeat.ng-leave 
{ 
    -webkit-transition: 500ms linear all!important;
    -moz-transition: 500ms linear all!important;
    -ms-transition: 500ms linear all!important;
    -o-transition: 500ms linear all!important;
    transition: 500ms linear all!important;
    position: relative;
    display: block;
    overflow: hidden;
} 


.animate-repeat.ng-leave  {
    //opacity: 1;
    left: 0px;
    right: 0px;
    width: 100%;
    color:red!important;
}

.animate-repeat.ng-leave.ng-leave-active{
    //opacity: 0;
    left: 50%;
    right: 50%;
    width: 0px;
 color:red!important;
}

@media (max-width:767px){
    .query-check{
         width: 0px;
    }


}